@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    background: #E92438;
}
div#cliente{
    left: 4.61%;
    right: 52.34%;
    top: 25.91%;
    bottom: 23.05%;
    position: absolute;
}
div#texto {
    position: absolute;
left: 52.12%;
right: 5.71%;
top: 33.2%;
bottom: 33.07%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
text-align: justify;

color: #FFFFFF;

}
footer{
    position: absolute;
left: 61.13%;
right: 14.64%;
top: 80.35%;
bottom: 22.27%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}